doctype html
html(lang="ar" dir="rtl" ng-app='calendarApp' ng-cloak='true')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title syrian
        include includes/css-link.pug
    body
    
        include includes/script-links.pug